$tab-bg: #e6e6e6;
$main-bg: #fff;
$selected-bg: #0195bd;

.wizard-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wizard-stepper .wizard-step {
  height: 2em;
  position: relative;
  background: $tab-bg;
  margin: 0 2px;
  color: $selected-bg;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wizard-stepper .wizard-step:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 1em solid $main-bg;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}
.wizard-stepper .wizard-step:before {
  content: "";
  position: absolute;
  right: -1em;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 1em solid $tab-bg;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  z-index: 2;
}

.wizard-stepper .wizard-step.active {
  background-color: $selected-bg;
  color: #fff;
}

.wizard-stepper .wizard-step.active:before {
  border-left-color: $selected-bg;
}

.wizard-stepper .wizard-step:first-child:after,
.wizard-stepper .wizard-step:last-child:before {
  border: none;
}

.wizard-stepper .wizard-step:first-child {
  padding-left: 1em;
}

.wizard-stepper .wizard-step:last-child {
  flex-grow: 1;
}

.wizard-stepper-buttons button + button{
  margin-left: 0.5em;
}


/* BEGIN TEMP STYLES */
.wizard-stepper-container {
  display: flex;
  flex-direction: column;
}

.wizard-stepper-content {
  flex-grow: 1;
  padding: 1em 0;
  height: 400px;
}
